/* =====================================
Main stylesheet
Default Theme

This is where you will put all the styles for your site.
Please see the theme's README.md for information on how to override bootstrap if needed.
======================================== */

/* Global */
body {
    background-color:#ffffff;
    font-family: 'Open Sans', sans-serif;
}

.main_content {
    padding: 10px 0 60px 0
}

h1 {
   font-family: 'Open Sans', sans-serif;
   font-size: 24px;
   color: #500000;
   font-weight: bold;
}

h2 {
    font-size: 18px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
   font-size: 14px;
}

a {
    color: #006483;
    text-decoration: none;
}

a:hover {
    color: #004362;
    text-decoration: underline;
}

canvas, .thumbnail {
    filter: grayscale(1) brightness(1);
}

.btn {
    font-weight: bold;
}

.btn-default {
    color: #333333;
    background-color: #ffffff;
    border-color: #d1d1d1;
}

.btn-link {
    color: #006483;
}

.tamu-hr {
    margin-bottom: 30px;
}

.pagination .active a {
    color: #ffffff;
    background-color: #500000;
    border-color: #500000;
}

.pagination .active a:hover {
    color: #ffffff;
    background-color: #500000;
    border-color: #500000;
}

.pagination .active a:hover {
    background-color: #004362;
    border-color: #004362;
}

.pagination li a {
    font-weight: bold;
}

.pagination li a:hover {
    color: #006483;
    background-color: #f6f6f6;
}

/* Custom CSS */
.tamu-top-banner {
    text-align: right;
    padding: 0;
    background: #3c0000;
}

.tamu-site-name-banner {
    background: #500000;
    border-top: 1px solid #a7a7a7;
}

.tamu-top-banner-buttons {
    margin-top: 10px;
}

.tamu-site-title a, .tamu-site-title a:hover {
    color: #ffffff;
    display: block;
    padding: 5px 0 5px 55px;
    margin: 10px 0;
    font-size: 1em;
    text-align: left;
    background: url(//library.tamu.edu/assets/images/tam.png) no-repeat;
    text-decoration: none;
    font-weight: bold;
}

.tamu-site-title-mobile a {
    color: #ffffff;
    display: block;
    padding: 5px 0 5px 55px;
    margin: 10px 0;
    font-size: 1em;
    text-align: left;
    background: url(//library.tamu.edu/assets/images/tam.png) no-repeat;
}

.tamu-site-name {
    margin-top: 10px;
    margin-bottom: 20px;
}

.tamu-site-name a, .tamu-site-name a:hover {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', Arial, sans-serif;
}

.tamu-site-name-mobile {
    margin: 20px 0px 20px 0;
}

.tamu-site-name-mobile a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', Arial, sans-serif;
}

.tamu-navbar {
    border-radius: 0;
    background-color: #3e3e3e;
    border: none;
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav li a {
    color: #ffffff;
}

.btn-tamu {
    color: #ffffff;
    background: #500000;
    border-color: #a7a7a7;
    padding: 10px 20px 10px 18px;
}

.btn-tamu:hover {
    color: #333333;
    background: #f6f6f6;
}

.btn-primary {
    color: #ffffff;
    background-color: #500000;
    border-color: #a7a7a7;
}

.btn-primary:hover {
    color: #333333;
    background: #f6f6f6;
}

.form-inline .form-control {
    width: 100%;
    padding: 20px;
    font-size: 18px;
}

.searchBox {
    padding: 10px;
    box-sizing: content-box;
    background-color: #f6f6f6;
    border-bottom: 1px solid #d1d1d1;
}

.advancedSearch {
    margin-top: 10px;
    font-weight: bold;
}

.advancedSearch a {
    color: #006483;
    text-decoration: none;
}

.advancedSearch a:hover {
    color: #004362;
    text-decoration: underline;
}

.footer-section {
    background-color: #f6f6f6;
    border-top: 1px solid #a7a7a7;
    padding: 0;
    position: relative;
}

.contribute-social-container {
    display: block;
    padding: 20px;
}

.contribute-col {
    margin-top: 20px;
}

.contribute-text {
    font-weight: bold;
}

.social-col {

}

.social-text {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.social-links {
    margin-top: 20px;
    display: inline-block;
}

.social-links ul li {
    list-style: none;
    display: inline-block;
}

.tamu-footer-container {
    background: #3e3e3e;
    color: #D6D3C4;
    padding: 30px 0;
}

.tamu-footer-links {

}

.tamu-footer-links li {
    list-style-type: none;
    display: inline-block;
    padding: 0 5px;
}

.tamu-footer-links a {
    text-decoration: none;
    color: #D6D3C4;
}

.tamu-footer-links a:hover {
    text-decoration: underline;
}

.highlight_words img, .highlite img {
    filter: grayscale(1) brightness(1);
    width: 100%;
} 

/* Begin - Newspapers Page (title.html and __l_newspaper.html */
.tamu-newspaper-page-title {

}

#newspaper_nav  {
    margin-bottom: 20px;
    margin-left: 15px;
}

.tamu-nav-tabs li.active a {
    color: #3C0000;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-bottom-color: transparent;
    font-weight: bold;
}

.tamu-nav-tabs li a {
    font-weight: bold;
}

.tamu-nav-tabs li a:hover {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background-color: #f6f6f6;
}

/* End - Newspapers Page */

/* Begin - issue_pages.html. (View Front Pages) and page.html */
.tamu-view-front-pages-page-info {
    margin-top: 5px;
    text-align: center;
}

.highlite img {
    width: 100%;
    height: 350px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
}

.search_results_ctrl {
    margin-top: 1em;
    margin-bottom: 1em;
}

.item-foot {
    margin-top: 5px;
}

.image_credit {
    font-weight: bold;
    margin: 0;
}

.page_about {
    font-weight: bold;
}

.search_results row {
    display: flex;
    flex-wrap: wrap;
}

.tamu-front-page-item {

}
/* End - issue_pages.html. (View Front Pages) and page.html */

/* Begin - Advanced Search Page (search_advanced.html) */
.tamu-adv-search-actions {
    margin-top: 20px;
    text-align: right;
}
/* End - Advanced Search Page (search_advanced.html) */

/* Media Queries */
/* screen-xs */
@media (max-width: 767px) {
    .advancedSearch {
        margin: 0 0 0 15px;
    }

    .advancedSearch a {
        float: none;
    }

    .social-col {
        text-align: center;
    }

    .item-foot {
        margin-top: 50px;
        float: right;
    }

    .tamu-front-page-item {
        margin-top: 20px;
    }

    .highlite img {
        height: 370px;
    }
}

/* screen-sm */
@media (min-width: 768px) and (max-width: 991px) {
    .advancedSearch {
        padding-right: 10px;
    }
    
    .advancedSearch a {
        float: right;
    }

    .contribute-text {
        margin-top: 10px;
    }

    .social-col {
        text-align: center;
    }

    .tamu-front-page-item {
        margin-top: 20px;
    }

    .highlite img {
        height: 500px;
    }
}

/* screem-md */
@media (min-width: 992px) and (max-width: 1199px) {
    .advancedSearch {
        padding-right: 10px;
    }
    
    .advancedSearch a {
        float: right;
    }

    .contribute-col {
        margin-left: 10px;
    }

    .contribute-text {
        margin-top: 0;
    }
}

