{% extends "__base.html" %}

{% load static %}

{% comment %}
  To customize your installation, create a new "__overrides.html" file in the
  appropriate theme location and override blocks of code from "__base.html."

  Please see "/docs/customization/theme.md" for information about the
  available template blocks and overriding recommendations.
{% endcomment %}

{% block head_site_meta %}
  {{ block.super }}
  {# Add theme's favicon to sitewide meta tags #}
  <link href="{% static 'images/favicon.png' %}" rel="icon" sizes="192x192">
{% endblock head_site_meta %}

{% block head_page_meta %}
  {# Set default author and description for page meta tags #}
  <meta name="author" content="The author of this site">
  <meta name="description" content="A site for newspapers">
{% endblock head_page_meta %}

<!-- CSS -->
{% block head_page_css %}
{{ block.super }}
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock head_page_css %}

<!-- jQuery -->
{% block javascript %}
  {{ block.super }}
  <script src="/static/scripts/tamu.js"></script>
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/ec09df3f85.js" type="text/javascript"></script>

  <!-- Google Analytics -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-58KBZJLX');</script>

{% endblock javascript %}

<!-- Begin - Custom Header -->

<!-- Custom page title -->
{% block page_head %}
  {% block sub_page_head %}
    {% if page_title %}
      <h1>{{ page_title }}</h1>
    {% endif %}
  {% endblock sub_page_head %}
{% endblock page_head%}


{% block body_content %}
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58KBZJLX"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  {{ block.super }}
  
  {% block header %}

    {% block header_title %}
      <div class="header_title">
        
        <section class="container-fluid tamu-top-banner">
          <div class="container-fluid">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 navbar-left tamu-site-title">
                  <a href="http://library.tamu.edu">Texas A&amp;M University Libraries</a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tamu-top-banner-buttons">
                  <a class="btn btn-default" href="http://askus.library.tamu.edu/">Help</a>
                </div>
              </div>
          </div>
        </section>
        
        <section class="container-fluid tamu-site-name-banner">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navbar-left tamu-site-name">
                <h1><a href="//newspaper.library.tamu.edu/">Texas A&amp;M Newspaper Collection</a></h1>
            </div>
          </div>
        </section>

      </div>
    {% endblock header_title %}

    {% block navbar %}
    <nav class="navbar navbar-inverse tamu-navbar">
      <div class="container-fluid">
        {# Brand and toggle get grouped for better mobile display #}
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
            aria-expanded="false" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        {# Collect the nav links, forms, and other content for toggling #}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              {% block navbar_home %}
                <li><a href="{% url 'openoni_home' %}">Home</a></li>
              {% endblock navbar_home %}

              {% block navbar_pos1 %}
                <li><a href="{% url 'openoni_newspapers' %}">Newspapers</a></li>
              {% endblock navbar_pos1 %}

              {% block navbar_pos2 %}
                <li><a href="{% url 'openoni_about' %}">About</a></li>
              {% endblock navbar_pos2 %}

              {% block navbar_pos3 %}
                <li><a href="{% url 'static_pages_page' 'contribute' %}">Contribute</a></li>
              {% endblock navbar_pos3 %}

              {% block navbar_pos4 %}
                <li><a href="{% url 'openoni_help' %}">Help</a></li>
              {% endblock navbar_pos4 %}

              {% block navbar_pos5 %}
              {% endblock navbar_pos5 %}
          </ul>
        </div>{# /.navbar-collapse #}
      </div>{# /.container-fluid #}
    </nav>
    {% endblock navbar %}

    <div class="container-fluid searchBox">
      <div class="row">
        {% block navbar_search %}
        <form class="form-inline col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-10 col-sm-offset-2 col-xs-12" method="get"
          action="{% url 'openoni_search_pages_results' %}" role="search">
          <div class="form-group col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <input class="form-control" type="text" name="proxtext" aria-label="Search words"
              placeholder="Search newspaper contents">
          </div>
      
          <button type="submit" class="btn btn-tamu">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <span class="search_text">Search</span>
          </button>
        </form>
        {% endblock navbar_search %}
      
        {% block navbar_advancedsearch %}
        <div class="col-lg-2 col-md-2 col-sm-10 col-xs-10 advancedSearch">
            <a href="{% url 'openoni_search_advanced' %}">Advanced Search</a>
        </div>
        {% endblock navbar_advancedsearch %}
      </div>
    </div>

  {% endblock header %}

{% endblock body_content %}
<!-- End - Custom Header -->

<!-- Begin - Custom Footer -->
{% block footer %}
<footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-section" role="contentInfo">
  <div class="container contribute-social-container">
    <div class="row ">

      <!-- Left side newspaper icon. -->
      <div class="col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-2 col-xs-2">
        <img src="/static/images/newsIcon.png" alt="newspaper icon">
      </div>

      <!-- Mid section contribute text and button. -->
      <div class="col-lg-6 col-md-5 col-sm-10 col-xs-10 contribute-col">
        <!-- <div class="row giveText"> -->
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-7 contribute-text">
            <span>Are you interested in adding a title to our archive?</span> 
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a class="btn btn-large btn-tamu" href="/page/contribute/" role="button">Get Involved</a>
          </div>
        <!-- </div> -->
      </div>

      <!-- Right side social media icons. -->
      <div class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-0 col-sm-12 col-xs-12 social-col">
        <!-- <div class="row"> -->
          <!-- Follow Us text. -->
          <div class="social-text"><span>Follow us!</span></div>
          
          <!-- Social links column. -->
          <div class="social-links">
            <ul>
              <li>
                <a alt="Follow us on Instagram" href="https://www.instagram.com/tamulibraries">
                  <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                  <span class="sr-only">Instagram</span>
                </a>
              </li>
              <li>
                <a alt="Follow us on Twitter" href="https://twitter.com/tamulibraries">
                  <i class="fa-brands fa-square-x-twitter" aria-hidden="true"></i>
                  <span class="sr-only">Twitter</span>
                </a>
              </li>
              <li>
                <a alt="Follow us on You Tube" href="https://www.youtube.com/user/tamulibrary">
                  <i class="fa-brands fa-youtube" aria-hidden="true"></i>
                  <span class="sr-only">YouTube</span>
                </a>
              </li>
              <li>
                <a alt="Follow us on LinkedIn" href="https://linkedin.com/company/tamulibraries">
                  <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
                  <span class="sr-only">LinkedIn</span>
                </a>
              </li>
            </ul>
          </div>

        <!-- </div> -->
      </div>

    </div>
    <!-- End of row. -->
  </div>
  <!-- End of contribute-social-container. -->

  <div class="tamu-footer-container text-center">
    <div class="container">
      <div class="row">

        <!-- #bottom-logo end -->
        <div class="col-lg-12 col-md-12 tamu-footer-links">
          <ul>
            <li><a href="https://howdy.tamu.edu">howdy.tamu.edu</a></li>
            <li><a href="http://library.tamu.edu/services/tech_troubleshooting.html">Off-Campus Access</a></li>
            <li><a href="http://www.tamu.edu">Texas A&amp;M University</a></li>
            <li><a href="http://askus.library.tamu.edu/faq/220143?m=p">Accessibility</a></li>
          </ul>
        </div>

        <!-- .bottom-text end -->
        <div class="clear"></div>
        <p class="copyright vcard">© <span class="fn org">Texas A&amp;M University</span>, <span class="adr"> <span class="locality">College Station</span>, <span class="region">Texas</span> <span class="postal-code">77845</span></span>.&nbsp;&nbsp;
      </p>
      </div>
        </div>
    </div>
  </div>
</footer>
{% endblock footer %}

<!-- End - Custom Footer -->