<!-- http://BASE_URI/help/ -->

{% extends "__l_main.html" %}

{% load static %}

{% block box-tabs %}
{% endblock %}

{% block main_content %}

<div id="std_box">
    <div class="help-page-text">If you have questions or need assistance, please browse our FAQs or <a href="https://library.tamu.edu/services/service_request_forms/cushing_request">AskUs@Cushing</a>.</div>
    <script src="https://api2.libanswers.com/1.0/widgets/7390"></script> 
    <div id="s-la-widget-7390"></div>
</div><!-- end id:std_box -->

{% endblock %}
