{# http://BASE_URI/ #}

{% extends "__l_main.html" %}

{% load static %}
{% load humanize %}
{% load image_urls %}

{% block content %}
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>Welcome</h1>
	<p>The Texas A&M University Newspaper Collection currently consists of digitized copies of The Battalion newspapers,  The Daily Bulletin/Reveille, and The Texas polka news (The Texas polka news is restricted to on campus use).  We will continue to add to this site until all of the Libraries’ holdings are online. The digitization and stewardship of this collection is being completed by the University Libraries Preservation unit. Please check back regularly for updates.</p>
	<p>Cushing Memorial Library and Archives strives to make our digital collection resources available and useful to our faculty, staff, students, alumni, researchers and the general public. Through our web site, the Libraries offers public access to a wide range of information, including historical materials that may contain offensive language or negative stereotypes. Such materials must be viewed in the context of the relevant time period. Texas A&M does not endorse the views expressed in such materials.</p>
	<p>Additionally, we plan to digitize all other newspapers, produced at Texas A&M, which are currently in the Libraries’ holdings.</p>
	<p>The digitization of the Texas A&M Newspaper Collection is funded through the generosity of the Class of 1949. To help support this or other digitization projects, please contact Adelle Hedleston '88 at adelle-h@tamu.edu or 979-862-4574.</p>
  </div> 
</div>{# /row #}
{% endblock content %}
